@import "vars";


/*==========  Desktop First  ==========*/

// ≥1200px
@include media-breakpoint-down(lg) {
	
}

// ≥992px
@include media-breakpoint-down(md) {
	.button {
		margin-right: 0;
		width: 100%;
		display: block;
	}
		.video-background {
			// display: none;
			width: 100%;
			margin: auto;
			text-align: center;
	}
	.logo {
		margin-top: 0px;
		width: 200px;
		height: 200px;
		svg {
			width: 200px;
			height: 200px;
		}
	}
	.options_list  {
		li {
			font-size: 18px;

		}
	} 
	.text__header {
		line-height: 1.2;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.rainbow-button {
		font-size: 18px;
	}
}

// ≥768px
@include media-breakpoint-down(sm) {

}

// ≥576px
@include media-breakpoint-down(xs) {

}


/*==========  Mobile First  ==========*/

// ≤576px
@include media-breakpoint-up(sm) {

}

// ≤768px
@include media-breakpoint-up(md) {

}

// ≤992px
@include media-breakpoint-up(lg) {

}

// ≤1200px
@include media-breakpoint-up(xl) {
	
}